.container-fluid{
    width: 600px;
}
body{
    background-image: url("https://wallpapergod.com/images/hd/aesthetic-quotes-3001X1876-wallpaper-kyy78v56788h8e09.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    justify-content: center;

}

